/** <Profile /> */
.profile_main {
  display: flex;
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
}

.menu {
  width: 30%;
  height: 50vh;
}

.content {
  height: 50vh;
  width: 70%;
  background-color: #a18aff;
  border: 10px solid white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/** <Home /> */
.home_main {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team,
.personal {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 1em 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: #828191;
  border-radius: 10px;
  font-weight: bold;
}

.team:hover,
.personal:hover {
  background-color: #d20030;
  color: #fff;
}

/** <Personal /> */
.personal_main {
  display: flex;
  width: 80%;
  height: 70vh;
  border: #ffffff 10px solid;
  border-radius: 25px;
}

.personal_sidebar {
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal_main_content {
  width: 70%;
  background-color: #a18aff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.personal_image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.personal_sidebar_top {
  width: 80%;
  border: 1px solid black;
}

.personal_sidebar_bottom {
  width: 80%;
  border: 1px solid black;
}
